*{

  box-sizing: border-box;
  margin:0;
  padding: 0;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  text-decoration: ;

}

.debug{ background-color: blueviolet;}


h1{
  
  font-size: 4.5rem;
  font-weight: 800;
  margin-bottom: 70px;

}

.first-container{
  width: 1200px;
  margin: auto;

}

.flexing{display: flex;}

.column{flex-direction: column;}


.btn{
  
  background-color: #0061ff;
  color: white;
  text-decoration: none;

}

.btn.small{padding: 6.3px 11.5px;}


.btn.medium{

  padding: 11.2px 15.6px;
  display: inline-block;

}




/* id */

#resize{width: 800px;} 


#second-last{margin-right: -15px;}


#bg-alternative{background-color:#b4d0e7 ;}


#arrow-down{

  font-size: 3rem;
  margin-top: 35px;
  
  
}



/* header */

header{

  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right:20px;
  position: fixed;
  z-index: 99;
  height: 80px;
  width:100%;
  background-color: white;
  
}

header a {

  text-decoration: none;
  color: black;
 
}


header > ul > li {
  
  margin-right: 40px ;
  text-decoration: none;
 
}


li:last-child{
  margin: 0;
}


section.jumbo {
  padding-top: 180px;
  padding-bottom: 5px;


}


span > p{margin-bottom: 35px;}


span.jumbobox{
  height: 400px;
  width:380px;


}

span.second-jumbobox{
  height: 400px;
  width: 600px;
  
}

section span > div {margin-bottom: 35px;}
