*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  text-decoration: ;
}

.debug{
  background-color: blueviolet;
  border: solid black 1px;
}

h1{
  font-size: 4.8rem;
  font-weight: 800;
  margin-bottom: 70px;
}

h2{font-size: 2.4rem;}

.dropbox-business h2, .dropbox-team h2{margin-bottom: 78px;}

h3{font-size: 1.6rem;}

.first-container{
  width: 1200px;
  margin: auto;
}

.second-container{
  width: 1000px;
  margin: auto;
}

.flexing{display: flex;}

.column{flex-direction: column;}

.wrapping{flex-wrap: wrap;}

.spc-between{justify-content: space-between;}

.btn{
  
  background-color: #0061ff;
  color: white;
  text-decoration: none;

}

.btn.small{padding: 6.3px 11.5px;}

.btn.medium{
  display: inline-block;
  height: 42px;
  width: 240px;
  text-align: center;
  line-height: 42px;
}

.btn.medium.top {
  margin-top :25px;
  margin-bottom: 37px;
}

.btn.big{

  padding: 11.2px 15.6px;
  display: inline-block;

}

.alt-btn{
  color: black;
  background-color: white;
  text-decoration: none;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

.alt-btn.first{
  width: 160px;
  border: solid 2px black;
}

.alt-btn.second{width: 296px;}

.circle{
  border: solid 3px #d9d9db ;
  border-radius: 50%;
  height: 20px ;
  width: 20px;
}



/* id */



#blue-circle{border: #0061ff solid 5px;}



/*colors id*/


#light-green{background-color: #a2d39b;}
#brown-red{background-color: #61082b;}
#azzurre{background-color: #0093ce;}
#red{background-color: #ff1c1c;}
#dark-red{background-color: #d5001f;}
#turquoise{background-color: #b4d0e7 }
#blue{background-color: #0d2481;}
#yellow{background-color: #ffd830;}
#light-grey{background-color: #f5f5f5;}



/* header */



header{
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right:20px;
  position: fixed;
  z-index: 99;
  height: 80px;
  width:100%;
  background-color: white;
}

header a{
  text-decoration: none;
  color: black;
}

header > ul > li {
  margin-right: 40px ;
  text-decoration: none;
}

header ul.second :nth-last-child(2){margin-right: 25px;}

header li:last-child{margin: 0;}



/* jumbotron */



section.jumbo {
  padding-top: 187px;
  padding-bottom: 5px;
}

.jumbo .btn.big{
  margin-top: 34px;
  margin-bottom: 36px;
}

.jumbo  span.img-jumbobox{height: 400px;}

.jumbo i {
  font-size: 3rem;
  margin-top: 72px;
}

.jumbo img{width: 820px;}



/*business-plan section*/



.business-plan{
  padding: 150px 0 150px 0;
  font-size: small;
  font-weight: 500;
}

.business-plan h2{margin-bottom: 100px;}

.business-plan .second-container >  div > span {margin-right: 50px;}

.business-plan div.try{
 border: solid 2px #d0d0d3 ;
 margin-top: 50px ;
 
}

.business-plan div.try.up{width: 300px;}

.business-plan .top-try{
  width: 100%;
  padding-top: 8.35px;
  padding-bottom: 8.35px;
  text-align: center;
  border-bottom: solid 2px #d0d0d3;
}

.business-plan .bottom-try{padding: 38px 20px 50px 20px;} 

.business-plan h3{margin-bottom: 25px;}

.business-plan .p1{margin-bottom: 18px;}

.business-plan .p2{margin-bottom: 50px;}

.business-plan .bottom-try > ul > li{margin-bottom: 27px;}

.business-plan strong{
  display: block;
  margin-bottom: 15px;
}

.business-plan .top-try i{margin-right: 3px;}

.business-plan li > i{
  margin-right: 10px;
  font-size: medium;
}

.business-plan .check-container{
  margin-right: 10px;
  color: #0061ff;
  height: 20px;
  font-size: medium;
}

.business-plan hr {
  margin-top: 45px;
  margin-bottom: 55px;
  width: 50px;
  color: #d0d0d3;
}



/* dropbox-partner section */



.dropbox-partner{padding-bottom: 150px;}

.dropbox-partner .partner-box{
  padding: 60px 50px 0 50px;
  width: 40%;
}

.dropbox-partner img{width: 100%;}

.dropbox-partner p{
  margin-top: 23px;
  margin-bottom: 34px;
}

.dropbox-partner .partner-img-box{width: 60%;}



/*dropbox-business section*/



.dropbox-business{padding-bottom: 220px;}

.dropbox-business .dropbox-card{width: calc(900px / 3 );}

.dropbox-business .dropbox-card img{width:100% ;}

.dropbox-business div.wrapping{gap: 50px;}

.dropbox-business h3{margin-bottom: 44px;}


/*dropbox-team*/



.dropbox-team{padding-bottom: 150px;}

.dropbox-team-a{margin-top: 75px;}



/*designit section*/



.designit .square{
  width: calc(100% / 3 );
  height: calc(100% / 3 ) ;
  aspect-ratio: 1/1;
}

.designit .square.center{
  padding: 50px;
  overflow-y: auto scroll;
  font-size: large;
  line-height: 25px;
  overflow-x: hidden;
}

.designit .square.center hr{
  width: 103px;
  color: #d0d0d3;
  margin-top: 50px;
  margin-bottom: 50px;
}

.designit .square.center p{margin-bottom: 60px;}

.designit .small-square{
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.designit .square img{width: 100%;}

.designit .small-squarebox  img{filter: invert(100%);}

.designit .small-squarebox{width: 140px;}

.designit .big-squarebox{width: 260px;}




/*turquoise-section*/



.turquoise-section{
  padding-top: 140px;
  padding-bottom: 140px;
}

.turquoise-section h2 {color: #61082b;}



/*domande-frequenti*/



.domande-frequenti{
  padding-top: 164px;
  padding-bottom: 150px;
}

.domande-frequenti h2{margin-bottom: 60px;}

.domande-frequenti .question-box{
  border-top: solid #999999 1px;
  padding-top: 46px;
  padding-bottom: 46px;
  padding-right: 45px;
}



/*footer*/



footer{
  background-color: black;
  color: white;
  padding-top: 120px;
  padding-bottom: 53px;
}

footer h4{
  margin-bottom: 44px;
  font-size: 1.5rem;
}

footer li{margin-top: 27px;}

footer hr{
  width: 120px;
  color: white;
  margin-top: 120px;
  margin-bottom: 54px;
}

footer a{
  text-decoration: none;
  color: #999999;
}

footer span{margin-left: 10px;}