*{

  box-sizing: border-box;
  margin:0;
  padding: 0;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  text-decoration: ;

}

.debug{ background-color: blueviolet;}


h1{
  
  font-size: 4.5rem;
  font-weight: 800;
  margin-bottom: 70px;

}


h2{

  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 70px;
}


h2.st{font-size: 2.5rem;}

h3{

  
  font-size: 1.6rem;



}


h3.st{margin-bottom: 30px;}

h3.nd{margin-bottom: 25px;}


h3.rd{margin-bottom:45px;}

h4{
  font-size: 1.05rem;
  margin-bottom: 60px;
}


button:last-child{

  margin-left: 50px;


}

.first-container{
  width: 1200px;
  margin: auto;

}


.second-container{
  width: 1000px;
  margin: auto;
}


.flexing{display: flex;}

.column{flex-direction: column;}


.wrapping{flex-wrap: wrap;}





.btn{
  
  background-color: #0061ff;
  color: white;
  text-decoration: none;

}

.btn.small{padding: 6.3px 11.5px;}


.btn.medium{
  padding: 8.7px 26.4px;
  display: inline-block;
 
}


.btn.medium.top { margin-top :25px;
  margin-bottom: 45px;}


.btn.big{

  padding: 11.2px 15.6px;
  display: inline-block;

}



.circle{


  border: solid 3px #d9d9db ;
  border-radius: 50%;
  height: 20px ;
  width: 20px;
  

}




/* id */


#btn-white{
  width: 160px;
  height: 45px;
  border: solid 2px black;
  text-decoration: none;
  color: black;
  display: inline-block;
  line-height: 45px;
  text-align: center;
  
  


}

#up{width: 300px;}


#bottom-down{
  padding: 30px;
  


}

.spc-between{justify-content: space-between;}


.al-items{align-items: center;}

#resize{width: 800px;} 


#second-last{margin-right: -15px;}


#bg-alternative{background-color:#b4d0e7 ;}


#arrow-down{

  font-size: 3rem;
  margin-top: 35px;
  
  
}


#blue-circle{border: #0061ff solid 5px;}



#business-gap{

  gap: 50px;
}


/* header */

header{

  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right:20px;
  position: fixed;
  z-index: 99;
  height: 80px;
  width:100%;
  background-color: white;
  
}

header a {

  text-decoration: none;
  color: black;
 
}


header > ul > li {
  
  margin-right: 40px ;
  text-decoration: none;
 
}


li:last-child{
  margin: 0;
}

/* sections */


section.jumbo {
  padding-top: 180px;
  padding-bottom: 5px;

}


span > p{margin-bottom: 35px;}




span.img-jumbobox{
  height: 400px;
  width: 600px;
  
}

section span > div {margin-bottom: 35px;}


section.business-plan{

  padding: 150px 0 150px 0;
}






div.try{

  height: 100%;
 
  border: solid 2px #d0d0d3 ;

  margin-top: 50px ;



}






.top-try{
  
  

  
  width: 100%;
  padding-top: 8.35px;
  padding-bottom: 8.35px;
  text-align: center;
  border-bottom: solid 2px #d0d0d3;
 
  
}

.top-try.st{
  
  

  margin-bottom: 40px;
  
 
  
}

.bottom-try{
  padding: 0 20px 50px 20px;
  
  



} 



p.p1{margin-bottom: 30px;}

p.p2{margin-bottom: 60px;}



.bottom-try > ul > li{

  margin-bottom: 30px;
}


.bottom-try ul > li {margin-bottom: 30px;}

li > i{margin-right: 10px;}


ul hr {
  margin-top: 40px;
  margin-bottom: 55px;
  width: 50px;
  color: #d0d0d3;
}




/* dropbox-partner section */


.dropbox-partner{margin-bottom: 150px;}

.partner-box{
  
  padding: 60px 50px 0 50px;
  width: 40%;
  

}

.dropbox-partner img{width: 100%;}

.partner-img-box{
  
  width: 60%;
  

}

/*dropbox-business section*/


.dropbox-business{
  padding-bottom: 220px;


}

.dropbox-card{

  width: calc(900px / 3 );
}


.dropbox-card img{

  width:100% ;
}

/*dropbox-team*/


.dropbox-team{
  padding-bottom: 150px;
}



.dropbox-team-a{
  margin-top: 75px;
  
}